
*{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    padding: 10px;
}

.navbar-right{
    margin-left: 50px;
}

.main-row-1{
    margin-top: 50px;
    padding: 100px;
    text-align: center;
    background-color: #0087E1;
    
}

.main-row-1 h1{
    color: white;
    font-size: 2.5em;
    font-weight: bold;
}

.main-row-1 p{
    color: lightgray;
    font-size: 1.5em;
    font-weight: lighter;
}

.section-row-1{
    margin: 50px;
    padding: 25px;
}

.section-row-1 h1{
    text-align: left;
    font-weight: bold;
    font-size: 2.5em;
}
.section-row-1 p{
    
    text-align: left;
    font-size: 16px;
}

.section-row-2{
    margin: 50px;
    padding: 25px;
}

.section-2-background{
    background: #ededed;
}


.section-row-2 h1{
    text-align: left;
    font-weight: bold;
    font-size: 2.5em;
}
.section-row-2 p{
    
}

.section-row-3{
    margin: 50px;
    padding: 25px;
}
.section-row-3 h1{
    text-align: left;
    font-weight: bold;
    font-size: 2.5em;
}

.section-row-3 p{

    
}

.section-row-4{
    margin: 50px;
    padding: 25px;
    padding-bottom: -25px;
}

.section-4-background{
    background-color: #ededed;
}
.section-row-4 h1{
    text-align: left;
    font-weight: bold;
    font-size: 2.5em;
}


.footer{
    text-align: center;
    color: darkgray;
    background-color: black;
    padding: 25px;
}

input[type=text], input[type=email]{
    margin: 25px;
    padding: 25px;
}

.custom-btn{
    margin-left: 25px;
}
